APLPX.Client/Web References/localhost/AplService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/APLPX.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/APLPX.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StagingDbConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="Authentication" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DatabaseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogIn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StagingDbConfig" nillable="true" type="tns:StagingDbConfig" />
</xs:schema>